flask
seaborn
matplotlib
seaborn
requests
bs4
mysql.connector
ydata_profiling
scikit-learn
mlxtend
plotly
ipykernel
nbformat>=4.2.0
plotly>=5.18.0
torch
kaggle
tensorflow
keras
nltk
xgboost
streamlit
